/*
    [Disciplines] STYLESHEET

    CSS Author: Depeno, Robin D.
    Proofread by: Chazz C. Manubay
*/

body {
    font-family: Archivo, Arial, sans-serif;    
    color: white;
    background: center no-repeat fixed linear-gradient(to right bottom, #164861, #34173f);
}

/* LOGO and Navigations top*/

header {
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    padding: 1rem;
    width: 95%;
}

header > div {
    display: inline-block;
    vertical-align: center;
}

header .logo {
    width: 10%;
    float: left;
    margin-left: 4rem;
}

header .logo a img {
    width: 100%;
}

header .navigation nav{
    padding: 1rem;
}

header .navigation nav a {
    margin: 0 1.5rem;
    font-size: 1.125rem;
    text-decoration: none;
    text-align: center;
}

.navigation nav a {
    color: white;
}

.navigation nav a:hover {
    font-weight: 600;
}

.navigation nav a:active {
    color: #9040E8;
}

.intro {
    text-align: center;
}
/* IT DISCIPLINES TITLE */

.intro h1 {
    font-size: 3rem;
    text-align: center;
}

/* IT DISCIPLINES IMAGE */

.image {
    width: 65%;
    margin: 2rem auto;
}

.image img {
    width: 100%;
    border-radius: 1em;
}

/* IT DISCIPLINES DESCRIPTION */

.desc p {
    width: 65%;
    margin: 1rem auto;

    text-align: justify;
    text-indent: 4rem;

    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* IT DISCIPLINES LINKS */

main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 10rem 0 2rem;
}

.jump-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;

    width: 60%;
    margin: 0 auto 4rem;
}

.jump-links a {
    text-align: center;
    font-size: 1.125rem;
    color: white;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    padding: 3.5rem;

    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;

    border-radius: 2rem;

    filter: saturate(0);
}

.jump-links a:hover {
    filter: saturate(1) brightness(110%);
}

.jump-links a.cybersecurity { background-image: url("../MEDIA/IMAGES/cybersecurity-thumb.jpg");}

.jump-links a.data-management { background-image: url("../MEDIA/IMAGES/datamgt-thumb.jpg"); }

.jump-links a.software-dev { background-image: url("../MEDIA/IMAGES/softwaredev-thumb.jpg"); }

.jump-links a.web-des-dev { background-image: url("../MEDIA/IMAGES/webdesdev-thumb.jpg");}

.jump-links a.network-admin { background-image: url("../MEDIA/IMAGES/networking-thumb.jpg");}

/* FOOTER */

footer {
    left: 0;
    bottom: 0;
    width: 80%;
    text-align: left;
    padding: 0 2rem;
}

footer .copyright > p {
    font-weight: 400;
    font-size: 0.85rem;
}

footer .copyright p > span {
    font-weight: 800;
}